<h1>About us</h1>
<p>Welcome to my first interactive Web App!</p>

<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/10414600_10152524495829287_1607415228146147404_n.jpg" class="img-responsive" alt="Responsive image">

<br>

<p>As you can see I'm a big band nerd.</p>
<p>If you want to learn more about me you can email me 
<button type="Submit" class="btn btn-default">Here</button>


